<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Forexcast | About Us</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
</head>

<body>
    <div class="marquee"><p id="marqueetext">Real-Time Currency Rates: </p></div>
    <img src="img/logo.png" id="applogo" alt="logo">
    <div class="topnav" id="myTopnav">
        <a href="about" id="navbar_logo" class="active">Forexcast | About</a>
        <a href="/">Home</a>
        <a href="edit">Edit Pairs</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="myflex">
        <h1>Welcome to Forexcast</h1><br>
        <h2>Your Forex Forecasting Companion</h2><br>
        <p id="starter">Forexcast is one of the world's leading sources for analysis on the currency and trends in the
            trading community. Our analysts provide daily reports on the latest changes in ﬁnancial markets,
            providing timely economic and technical analysis and a close examination of promising
            chart formations with live currency quotes. Forexcast also explains the various economic,
            political, and technical factors driving the market.                        </p>
        <hr>
        <div class="flexcontainer">
            <div class="flex-childimg">
                <img src="img/bermuda1.png" alt="Career Guidance" style="width: 100%" />
            </div>
            <div class="flex-child">
                <h2>Visual Data</h2>
                <p>
                    Forexcast offers easy to understand charts and provide close examination of promising
                    chart formations with live currency quotes. Forexcast also explains the various economic,
                    political, and technical factors driving the market.
                </p>
            </div>
        </div>
        <hr>
        <div class="flexcontainer" id="flex2">
            <div class="flex-child">
                <h2>Real Trends</h2>
                <p>
                    Get real trends based on up-to-date data that you control. You have full access to add to, 
                    to edit and to delete your data as you see fit. No restrictions. You control your data.
                </p>
            </div>
            <div class="flex-childimg">
                <img src="img/bermuda2.png" alt="Career Guidance" style="width: 100%" />
            </div>
        </div>
        <hr>
        <div class="flexcontainer">
            <div class="flex-childimg">
                <img src="img/bermuda3.png" alt="Career Guidance" style="width: 100%" />
            </div>
            <div class="flex-child">
                <h2>Low Cost</h2>
                <p>
                    Forexcast is free upto a certain number of requests beyond which pricing is fair and competitive.
                    If you can get a lower rate, we'll match it.
                </p>
            </div>
        </div>
        <hr>
        <div class="flexcontainer" id="flex2">
            <div class="flex-child">
                <h2>Try It Out Today</h2>
                <p>No commitments, 30 day money-back guarantee. Try Forexcast out today.</p>
            </div>
            <div class="flex-childimg">
                <img src="img/bermuda4.png" alt="Career Guidance" style="width: 100%" />
            </div>
        </div>
        <div style="height: 20px;"></div>
    </div>
    <script src="js/about.js"></script>
</body>
</html>